{% extends 'blog/base.html' %}

{% block content %}
 

        <!--article tags are like nav/header/div... they mark each section like an article-->
        <article class="post">
            <aside class="actions">
                {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
            </aside>

            <form method="POST" action="{% url 'post_remove' pk=post.pk %}">{% csrf_token %}
                <button type="submit" class="btn btn-secondary" name="delete">
                Delete
                </button>
            </form>
            


                {% endif %}
          
            {% if post.published_date %}
                <!--format things in time when we use datestamps-->
                <time class="date">published: {{post.published_date}}</time>
            {% else %}
                <form method="POST" action="{% url 'post_publish' pk=post.pk %}" class="post-form">{% csrf_token %}
                    <button type="submit" class="btn btn-secondary" name="publish">Publish</button>
                    
                </form>
            {% endif %}

        
            <h2>{{post.title}}</a></h2>
            <!--This is the p tag.  in between each p tag a paragraph is created and displayed-->
            <p>{{post.text|linebreaksbr}}</p>
        </article>


{% endblock %}
